body{
	background: #bdc3c7;
}

main{
	width: 100%;
	margin: 0;
	padding: 10px;
	display: flex;
	align-items: center;
}

.left,.right{
	width: 5%;
}

.left img{
	width: 100%;
	transform: rotate(180deg);
}

.right img{
	width: 100%;
}

.container{
	width: 70%;
	height: 600px;
	overflow:  hidden;
	border:3px solid #2c3e50;
	margin: auto;
	display: flex;
	align-items: center;
	transition:all 2s;
	
}

.container img{
	width: 100%;
	margin: auto;
	transition:all 2s;
}